.container-fluid {
  padding: 0;
  margin: 0;
  background-image: url("pictures/background.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
h1,h3,h6,.card-title, .card-text{
  color: rgb(9, 175, 246);
}
button {
  background-color: #61dafb;
  color: #0a54e8;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 130px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #0a54e8;
  color: #61dafb;
  border: 1px solid #0a54e8;
}
.navbar {
  background-color: #61dafb;
  color: #0a54e8;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 130px;
  transition: all 0.3s ease-in-out;
}
.btn-group-vertical {
  display: inline-block;
  margin: 10px 10px;
}
button {
  background-color: #61dafb;
  color: #0a54e8;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 130px;
  transition: all 0.3s ease-in-out;
}