.parent {
  padding: 10px;
  border: 1px solid black;
}
.child1 {
  background-color: red;
  width: 100px;
  height: 100px;
}
.child2 {
  background-color: blue;
  width: 100px;
  height: 100px;
}
.child3 {
background-color: green;
  width: 100px;
  height: 100px;
}
